<p id="notice"><%= notice %></p>

<h1>Listing Estilos</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Estilo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estilos.each do |estilo| %>
      <tr>
        <td><%= estilo.estilo %></td>
          <% if current_user.role == 'admin' %>  
            <td><%= link_to 'Show', estilo %></td>
            <td><%= link_to 'Edit', edit_estilo_path(estilo) %></td>
            <td><%= link_to 'Destroy', estilo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>  
      
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.role == 'admin' %> 
  <%= link_to 'New Estilo', new_estilo_path %>
<% end %>